<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
</head>
<body>
    <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="SepalLengthCm" placeholder="Enter SepalLengthCm">
        <input type="text" name="SepalWidthCm" placeholder="Enter SepalWidthCm">
        <input type="text" name="PetalLengthCm" placeholder="Enter PetalLengthCm">
        <input type="text" name="PetalWidthCm" placeholder="Enter PetalWidthCm">
        <button type="submit">predict</button>
    </form>
    <h3><br>{{prediction_text}}</h3>
</body>
</html>